{{template "base" .}}

{{define "title"}}Yet Another File Sharing Service{{end}}

{{define "main"}}
<main>
    <div>
        <form enctype="multipart/form-data" action="/" method="POST">
            <input id="fileInput" type="file" name="uploadfile" multiple>
            <input type="submit" value="upload">
        </form>

        <div id="dropZone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"
            ondragleave="dragLeaveHandler(event);">
            <p>Or drag and drop here</p>
        </div>

        {{with .FileUri}}
        <ul>
            {{range $file, $uri := .}}
            <li><a href="/files/{{$uri}}">{{$file}}</a></li>
            {{end}}
        </ul>
        {{end}}
    </div>
</main>
{{end}}