{{template "base" .}}

{{define "title"}}Yet Another File Sharing Service{{end}}

{{define "main"}}
<main class="container">
    <div class="text-primary" id="dropZone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"
        ondragleave="dragLeaveHandler(event);">
        <input type="file" id="upload" multiple onchange="uploadMultiple();" hidden>

        Drag and drop here or <button class="ms-2 btn btn-outline-primary" id="browse" onclick="browseClick();">browse</button>
    </div>

    <!-- TODO Add loading spinner animation -->
    <!-- TODO Display uploaded file's name while uploading -->
    <ul id="linksLst" class="list-group mt-4">
    </ul>
</main>
{{end}}